img {
    width: 100%;
}

#gameboard {
    background-color: blue;
    margin: 0 auto;
    position: relative;
    display: block;
}

#spaceship {
    position: absolute;
    margin: 0 auto;
}

.alien_first_row {
    position: absolute;
    top: 40px;
}

.alien_second_row {
    position: absolute;
    top: 80px;
}

.alien_third_row {
    position: absolute;
    top: 120px;
}

.alien_fourth_row {
    position: absolute;
    top: 160px;
}

.alien_fifth_row {
    position: absolute;
    top: 200px;
}

.shield {
    position: absolute;
    top: 400px;
}