img {
    width: 100%;
}

#gameboard {
    background-color: blue;
    margin: 0 auto;
    position: relative;
    display: block;
}

#spaceship {
    position: absolute;
    margin: 0 auto;
}

#alien1 {
    position: absolute;
    top: 0;
}

#alien2 {
    position: absolute;
    top: 0;
}

#alien3 {
    position: absolute;
    top: 0;
}

#alien4 {
    position: absolute;
    top: 0;
}

#alien5 {
    position: absolute;
    top: 0;
}

#alien6 {
    position: absolute;
    top: 0;
}

#alien7 {
    position: absolute;
    top: 0;
}
#alien8 {
    position: absolute;
    top: 40px;
}

#alien9 {
    position: absolute;
    top: 40px;
}

#alien10 {
    position: absolute;
    top: 40px;
}

#alien11 {
    position: absolute;
    top: 40px;
}

#alien12 {
    position: absolute;
    top: 40px;
}

#alien13 {
    position: absolute;
    top: 40px;
}
